body{
    margin:0;
    text-align: center;
    background-color: #080b30;
    color:#d2d434;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #d2d434;
    border-width: 5px;
    
    width:4%;
}

ul{
    margin-top: 0;
}

/* --------------------------------------for the top bar----------------------------------------------------*/
.top_bar{
    margin-top: 0;
    position:fixed;
    top:0;
    width: 100%;
}
nav ul{
    list-style-type: none;
}
a{
    color:#d2d434;
    text-decoration: none;
}

@media screen and (max-width:576px){
    .bigScreen{
        display:none;
    }
    .container{
        position: absolute;
        left:65%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
}


@media screen  and (min-width:576px) and (max-width:768px){
    .bigScreen{
        display:none;
    }

    .container{
        position: absolute;
        left:70%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .bigScreen{
        display:none;
    }
    .container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .bigScreen{
        display:none;
    }
    .container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
}

@media screen and (min-width:1200px) and (max-width:1800px) {
    .bigScreen{
        display:none;
    }

    .container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
}
@media screen and (min-width:1800px) {
    .smallScreen{
        display:none;
    }
}

.neonLights{
    z-index: 0;
}

.container:hover {
    background-color: #d2d434;
}
.container:hover .dropdown-content{
    display: block;

}
.container:hover .dropdown{
    background-color:#d2d434 ;
}   
.dropdown{
    height:7.5rem;
    width: 9.75rem;
}
.hamburgerIcon{
    height:3rem;
    width: auto;
    padding: 2.25rem 3rem;
    z-index: 1;
}

.crossIcon{
    height:3rem;
    width: auto;
    padding: 2.25rem 3rem;
    display: none;
}

.dropdown-content{
    display:none;
    position:relative;
    right:10.25rem;
    margin-top: 0;
    font-size: 1.5rem;
    width: 20rem;
    border-style: solid;
    border-color: orange;
    border-width: 0.125rem 0;
}

.content{
    background-color:#d2d434 ;
    padding: 1.5rem 1.5rem;
    border-color: orange;
    border-width: 0.125rem 0.25rem;
    border-style: solid;
}
.content a{
    color:#080b30;
}
.content:hover{
    background-color: #080b30;
}
.content:hover a{
    color:#d2d434;
}
.tahubusuk{
    position:absolute;
    display: inline-block;
    padding-top: 1rem;
    left:5%;
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
}
.aboutMe{
    position:absolute;
    left:58%;
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
}
.aboutMe:hover{
    background-color: #d2d434;
}
.aboutMe:hover a{
        color:#080b30;
}
.projects{
    position:absolute;
    left:68%;
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
}
.projects:hover{
    background-color: #d2d434;
}
.projects:hover a{
    color:#080b30;
}
.blogs{
    position:absolute;
    left:78%;
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
}
.blogs:hover{
    background-color: #d2d434;
}
.blogs:hover a{
    color:#080b30;
}
.contactMe{
    position:absolute;
    padding: 2.25rem 3.5rem;
    left:86%;
    font-size: 1.5rem;
}
.contactMe:hover {
    background-color: #d2d434;
}
.contactMe:hover a{
    color:#080b30;
}

/*---------------------------------------------------------top bar is over here------------------------------------------------------*/
