body{
    margin:0;
    text-align: center;
    background-color: #080b30;
    color:#d2d434;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #d2d434;
    border-width: 5px;
    
    width:4%;
}

ul{
    margin-top: 0;
}
/* --------------------------------------for the top bar----------------------------------------------------*/
.top_bar{
    background-color: red;
    margin-top: 0;
    position:fixed;
    top:0;
    width: 100%;
}
nav ul{
    list-style-type: none;
}





@media screen and (max-width:576px){
    .big_screen{
        display:none;
    }
    .hamburger_icon{
        height:3rem;
        width: auto;
        padding: 2.25rem 2.5rem;
    }
    .container{
        position: absolute;
        left:65%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
    .neon_lights{ 
        width: 120%; 
        height:40rem; 
        position: absolute;
        top:15rem;
        left:-10%;
    }
}


@media screen  and (min-width:576px) and (max-width:768px){
    .big_screen{
        display:none;
    }
    .hamburger_icon{
        height:3rem;
        width: auto;
        padding: 2.25rem 3rem;
    }
    .container{
        position: absolute;
        left:70%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
    .neon_lights{ 
        width: 120%; 
        height:35rem; 
        position: absolute;
        top:15rem;
        left:-10%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .big_screen{
        display:none;
    }
    .hamburger_icon{
        height:3rem;
        width: auto;
        padding: 2.25rem 3rem;
    }
    .container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }

    .neon_lights{ 
        width: 100%; 
        height:35rem; 
        position: absolute;
        top:15rem;
        left:0%;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .big_screen{
        display:none;
    }
    .hamburger_icon{
        height:3rem;
        width: auto;
        padding: 2.25rem 3rem;
    }
    .container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
    .neon_lights{ 
        width: 100%; 
        height:35rem; 
        position: absolute;
        top:15rem;
        left:0%;
    }
}

@media screen and (min-width:1200px) and (max-width:1800px) {
    .big_screen{
        display:none;
    }

    .hamburger_icon{
        height:3rem;
        width: auto;
        padding: 2.25rem 3rem;

    }.container{
        position: absolute;
        left:80%;
        width:0;
        color: #080b30;
        z-index: 1;
    }
    .neon_lights{ 
        width: 100%; 
        height:35rem; 
        position: absolute;
        top:15rem;
        left:0%;
    }
    
}
@media screen and (min-width:1800px) {
    .small_screen{
        display:none;
    }

    .neon_lights{ 
        width: 100%; 
        height:35rem; 
        position: absolute;
        top:15rem;
        left:0%;
    }
    
}

.neon_lights{
    z-index: 0;
}

.container:hover {
    background-color: #d2d434; 
}
.container:hover .dropdown-content{
    display: block;

}
.container:hover .dropdown{
    background-color:#d2d434 ;
}   
.dropdown{
    height:7.5rem;
    width: 9.75rem;
}
.hamburger_icon{
    z-index: 1;
}
.dropdown-content{
    display:none;
    position:relative;
    right:10.25rem;
    margin-top: 0;
    font-size: 1.5rem;
    width: 20rem;
    border-style: solid;
    border-color: orange;
    border-width: 0.25rem 0;
}

.content{
    background-color:#d2d434 ;
    padding: 1.5rem 1.5rem;
    border-color: orange;
    border-width: 0.25rem 0.5rem;
    border-style: solid;
}
.content:hover{
    background-color: #080b30;
    color:#d2d434 ;
}

.tahubusuk{
    position:absolute;
    display: inline-block;
    padding-top: 1rem;
    left:5%;
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
}

.projects{
    position:absolute;
    left:58%;
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
}
.projects:hover{
    background-color: #d2d434;
    color:#080b30;
}
.miscellaneous{
    position:absolute;
    left:70%;
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
}
.miscellaneous:hover{
    background-color: #d2d434;
    color:#080b30;
}
.contactme{
    position:absolute;
    padding: 2.25rem 3.5rem;
    left:86%;
    font-size: 1.5rem;
}
.contactme:hover{
    background-color: #d2d434;
    color:#080b30;
}

/*---------------------------------------------------------top bar is over here------------------------------------------------------*/


/*----------------------------------------------------for the index----------------------------------------*/

.tofu_image{
    margin:10rem 0 0 0;
    height:275; 
    width: auto;
}
.introduction{
    top: 16rem;
    right:17.5rem;
    width: 100%;
    margin-bottom: 200px;
    padding-top: 100px;
}
.introduction_name{
    font-family: 'Fuggles', cursive;
    font-size: 500%;
    margin-bottom: 0;
    margin-top: 1rem;
}
.introduction_describe{
    font-size: 1rem;
    margin-top:0;
}
    
/*-----------------------------------index is over here----------------------------------------------------------*/

/*-----------------------------------about me----------------------------------------------------------*/

.welcome{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 200px;
}


/*-----------------------------------about me----------------------------------------------------------*/


/*---------------------------------------for the contact me---------------------------------------------------------*/
.contact_me{
    position:fixed;
    bottom:0;
    background-color: #d2d434;
    color:blue;
    width: 100%;
}

.contact_me_pic{
    height:35px; 
    width:auto;
    padding: 10px 20px;
}

/*------------------------------------------contact me ends here-----------------------------------------------------*/